<h2>About Common Wealth Enterprises</h2>

<p>Common Wealth Enterprises is a Lansing, Michigan based, privately held company that focuses on three core activities:</p>
<ol>
  <li>Private equity and holdings in social enterprises</li>
  <li>Design, development, and creation of social enterprises</li>
  <li>Education, advocacy and outreach for social enterprise</li>
</ol>
<p>We bring new vitality to acquired businesses and lay the groundwork for new ventures compatible with
our recognized management strengths and financial resources. We are committed to tackling today’s
social issues — both locally and globally — by redefining how organizations and individuals see their
role in their communities.</p>
<p>Common Wealth Enterprises believes it’s possible to shape a new consumer culture that
combines social and economic value creation. We build, partner with, and support the growth
of social enterprises by integrating community values and social change with creative action and
entrepreneurial approaches.</p>